<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="career wow fadeInUp">
                    <h6>CAREER OF AGENSY UKRAINE</h6>
                    <h2>We always looking for talented peoples, soo let's work together</h2>
                    <div class="custom-link"><a href="#">Apply Now</a> <span></span> <i></i>
                    </div>
                    <!-- end custom-link -->
                </div>
                <!-- end career -->
            </div>
            <!-- end col-12 -->
            <div class="col-lg-5 wow fadeInUp">
                <figure class="logo"> <img src="https://sevancommunination.com/public/images/logo_top.png" alt="Image">
                </figure>
            </div>
            <!-- end col-5 -->
            <div class="col-lg-4 col-md-6 wow fadeInUp">
                <h5>Location</h5>
                <address>
                    B24, Haridas Ji ki Magari
                    <br>
                    Udaipur Rajasthan
                </address>
            </div>
            <!-- end col-4 -->
            <div class="col-lg-3 col-md-6 wow fadeInUp">
                <h5>Say Hello</h5>
                <address>
                    <a href="mailto:hello@sevancommunination.com">hello@sevancommunination.com </a>
                    <a href="tel:+91 8949093771" class="widget-about-us__phone">+91 8949093771</a>
                </address>
            </div>
            <!-- end col-3 -->
            <div class="col-12 wow fadeInUp">
                <div class="sub-footer">
                    <ul>
                        <li><a href="#">Career</a></li>
                        <li><a href="#">Term & Condutions</a></li>
                    </ul>
                    <span>© 2021 SevanCommunination - All rights Reserved</span>
                </div>
                <!-- end sub-footer -->
            </div>
            <!-- end col-12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</footer>