
<app-headline></app-headline>
<!-- end page-header -->
<section class="page-header">
<div class="post-sticky wow fadeIn">
					<figure class="post-image"><img src="assets/images/blogs/checklist.jpeg" alt="Image"></figure>
					<div class="post-content">
					<div class="avatar">
						<img src="images/avatar01.jpg" alt="Image">by
						<a href="#">Anna O'Neil</a>
					</div>
					<h3 class="post-title"><a href="blog-single.html">Performed suspicion in certainty so frankness by attention pretended.</a></h3>
					<small class="post-date">21 April, 2021</small>
					<p class="post-intro">Assurance perpetual he in oh determine as. The year paid met him does eyes same. Own we like having fun. No animals were harmed, no bridges were burned during our parties.</p>
					<a href="blog-single.html" class="post-link">READ MORE</a>
					</div>
					<!-- end post-content -->
				</div>
				<!-- end post-sticky -->
</section>
<!-- end blog -->